<!DOCTYPE  html>
<html ng-app="quoteBook">
<head>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>

<body ng-controller="mainCtrl">

    <section class="mainBody">
        <form class="enterQuote" ng-model="textEnter">
            <input class="quoteEntry" placeholder="Enter Quote" ng-model="inputQuote">
            <input class="authEntry" placeholder="Enter Author" ng-model="inputAuth">
        </form>

        <div class="enterQuote">
            <input class="quoteEntry" placeholder="Search" ng=hide="showMe" ng-show="showMe" ng-model="searchTerm">
            <button class="button hide" ng-click="showMe = false" ng-hide="!showMe">Hide</button>
        </div>

        <div class="buttons">
            <button class="button add" ng-click="addQuote(inputQuote, inputAuth)">Add Quote</button>
            <button class="button filter" ng-click="showMe = true">Filter Quote</button>
        </div>

        <hr/>


        <div class="quoteLog" ng-repeat="quote in quotes  | filter:searchTerm track by $index">
            <div class="quoteContent">
                <h2><img src="http://icons.iconarchive.com/icons/custom-icon-design/office/16/close-icon.png" class="closeImage" title="remove" ng-click="buttonClicked(quote)">"{{quote.text}}"</h2>
                <h3>-{{quote.author}}</h3>
            </div>
        </div>
    </section>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
<script src="js/service.js"></script>
</body>
</html>