* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background: url("http://www.pageresource.com/wallpapers/wallpaper/magnificence-great-quotes.jpg");
    background-size: 100%;
}

.mainBody {
    width: 950px;
    margin: auto;
    background-color: #010101;
    padding-bottom: 10px;
}

.title {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #0b97c4;
}

.enterQuote {
    width: 100%;
    margin-top: 1%;
    margin-left: 100px;
    display: inline-block;

}

input {
    border: none;
    height: 40px;
    margin-bottom: 30px;
    background-color: rgba(77, 182, 172, 0.3);
    text-align: center;
    font-size: 14px;
    box-shadow: none;
    transition: border linear .2s,box-shadow linear .2s;
    transition-property: border, box-shadow;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: linear, linear;

}

input:focus {
    outline: none !important;
    border:1px solid #4DB6AC;
    box-shadow: none;
    background-color: rgba(77, 182, 172, 0.3);
}

.quoteEntry {
    width: 550px;
    margin-left: 100px;
    margin-bottom: 15px;

}

.authEntry {
    width: 275px;
    margin-left: 238px;
}

.buttons {
    width: 50%;
    margin-top: 1%;
    margin-left: 210px;
    padding-bottom: 3%;
    display: inline;
}

.button {
    margin-left: 1%;
    background-color: #4DB6AC;
    color: #FFFFFF;
    border: none;
    outline:none;
    width: 250px;
    display: inline;
    border-radius: 0;
    -webkit-transition: .25s;
    cursor: pointer;
    height: 40px;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    -webkit-appearance: push-button;
    -webkit-user-select: none;
    white-space: pre;



}

.button:hover {
    background-color: #0b97c4;
}

.button.hide {
    width: 50px;
    height: 20px;
    border-radius: 20px;
    font-size: 9px;
    padding-bottom: 20px;

}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 0;
}


.quoteLog {
    width: 950px;
    margin: auto;
}


.closeImage {
    cursor: pointer;
    padding-right: 20px;
}

h2 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 35px;
    margin-bottom: 0;
    color: #863816
}

h3 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    margin-top: 7px;
    color: #ad2983;
}

